
body{
  margin: 0;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.winDiv{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winDec{
    font-family: khazad;
    font-weight: bold;
    color: blue;
    font-size: 100px;
}

.diceParent{
  display: flex;
  align-items: center;
}

.diceChild{
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnDiv{
  width: 100vw;
  height: 20vh;
}

.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #playBtn{
     width: 20%;
  }
  
  @media (orientation: landscape){
  
  }
  
  @media (orientation: portrait){
      .diceParent{
          flex-direction: column;
      }
      #playBtn{
          width: 40%;
       }
  }
  
  @keyframes rotate {
      from{
           transform: rotate(0deg);
      }
      to{
          transform: rotate(3600deg);
      }
  }
  
  .roller{
      animation: rotate 2s linear;
  }

  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(3600deg);
    }

  }

  .roller{
    animation: rotate 2s linear;
  }